* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, p, li, label {
    font-family: Helvetica, sans-serif;
}

header{
    width: 80%;
    margin: auto;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px 0 20px 0;
}

header div img {
    width: 53%;
    margin: 15px 0 0 110px;
}

header nav {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
    header nav ul {
        display: flex;
        justify-content: center;
        align-items: center;
    }
        header li {
            margin-right: 30px;
            list-style: none;
        }
        header li a {
            text-decoration: none;
            color: black;
            font-size: 17px;
        }
        header li a:hover {
            color: #f5570e;
        }
        header li a:focus {
            border: dotted 5px #f5570e;
            outline-style: none;
            padding: 5px;
        }  

.sect_1 {
    background-image:url(img/dots-bg.png);
    background-image: url(img/texture-paper.png);
    background-size: 280px 280px;
    background-color: #ffa176;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
    .sect_1 div {
        width: 60%;
    }
        .sect_1 h1 {
            text-align: center;
            margin-bottom: 30px;
            font-size: 35px;
        }
        .sect_1 p {
            text-align: center;
            font-size: 22px;
        }


     
.sect_2 {
    padding-top: 25px;
    width: 65%;
    margin: auto;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
    form div {
        margin-bottom: 30px;
    }
    form label {
        display: inline-block;
        margin-bottom: 4px;
    }
    form input:focus, textarea:focus {
        border: solid 5px #f5570e;
        outline-style: none;
        border-radius: 5px;
    }

    form button {
        width: 10%;
        font-family: Helvetica, sans-serif;
        font-size: 17px;
        font-weight: 600;
        background-color: #F3976C;
        padding: 7px;
        border-radius: 25px;
        border: none;
        cursor: pointer;
    }
    form button:hover {
        background-color: #f57d46;
        transition: all 0.2s ease-in;
        color: white;
    }
    form button:focus {
        outline: dotted 5px #f5570e;
        color: white;
    }

    .adresse {
        margin-top: 50px;
        margin-bottom: 50px;
        line-height: 25px;
    }

footer {   
    background-color: #F3976C;
    padding-top: 15px;
}
footer div {
    height: 50px;
    width: 65%;
    margin: auto;
    color: white;
}